<div class="row container">
  <h3 class="center-align">About Us</h3>
</div>
<div class="row container">
  <p class="grey-text text-darken-3 lighten-3 center-align">Gain insider access
    to unique apartments!</p>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="/images/parallax1.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="center-align">Make your move!</h2>
    <p class="grey-text text-darken-3 lighten-3 center-align">There's no such
      thing as one home fits all. Are you looking for something particular in
      your next
      rental? Search over 1.1 million listings including apartments, houses,
      condos, and townhomes available for rent. You’ll find your next home, in
      any style you prefer. Or do you want to sell one?</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/images/parallax2.jpg"></div>
</div>