body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.hamburger-medium {
  font-size: 3rem !important;
}

.realty-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.avatar {
  max-width: 300px;
  height: auto;
}

/* estate */

.estate .head {
  min-height: 100px;
  background-color: #eee;
  font-size: 16px;
  color: #616161;
  margin-bottom: 15px;
  padding: 15px 0;
}

.estate .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.estate .price {
  font-size: 24px;
  font-weight: 700;
}

.estate img {
  width: 100%;
  height: auto;
}

.estate .contact {
  background-color: #eee;
  padding: 25px 20px;
}

.estate .aget-avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 40px;
  margin-right: 25px;
  text-align: center;
}

.estate .aget-noavatar {
  height: 100%;
  padding-top: 20px;
  font-size: 12px;
}

/* edit  */
.edit-form {
  margin-bottom: 25px;
}

/* textarea */
textarea.description:focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

textarea.description {
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  line-height: normal;
  overflow-y: hidden;
  margin: 0 0 8px 0;
  padding: 0.8rem 0 0.8rem 0;
  resize: none;
  min-height: 3rem;
  box-sizing: border-box;
  box-shadow: none;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}
